<h1>Listing Submissions</h1>

<table class="table table-striped">
  <tbody>
  <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.test.title %></td>
        <% if submission.evaluated.blank? %>
            <td><%= link_to 'Continue', edit_test_submission_path(submission.test, submission) %></td>
        <% else %>
            <td><%= "#{submission.point}/#{submission.test.point}" %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

