<p>
  <strong>Test setter</strong>
  <%= @test.user[:name] %>
</p>

<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= raw(@test.description) %>
</p>

<p>
  <strong>Length:</strong>
  <%= @test.length %>
</p>
